.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #ffd700;
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  background-color: #C0393D;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  color: #ffd700;
  background-color: #C0393D;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #C0393D;
}

.nav-right {
  float: right;
}